# Tableau Processing
This notebook is to preprocess data into a format to feed into Tableau.

In [1]:
import numpy as np
import pandas as pd
import os
import datetime
import EDA_utils

In [2]:
data = EDA_utils.remove_aggregates(pd.read_csv("wb_data.csv"))

To generate features explored in the EDA_2 notebook.

In [3]:
data["GHGT_Capita"] = data["EN.ATM.GHGT.KT.CE"] / data["SP.POP.TOTL"]
data["GHGT_GDP"] = data["EN.ATM.GHGT.KT.CE"] / data["NY.GDP.MKTP.CD"]

To get latest data and its associated year for each column.

In [4]:
data_copy = pd.DataFrame(index=data.country.unique())

In [5]:
data_copy.head()

Empty DataFrame
Columns: []
Index: [Afghanistan, Albania, Algeria, American Samoa, Andorra]

In [6]:
all_columns = list(EDA_utils.indicators_dict.keys()) + ["GHGT_Capita", "GHGT_GDP"]

for col in all_columns:
    data_segment = EDA_utils.get_latest_data(data, col, drop_year=False)
    data_copy[col] = data_segment[col]
    data_copy[f"{col}_Year"] = data_segment["year"].astype("int32")

In [7]:
data_copy.head()

,EN.ATM.GHGT.KT.CE,EN.ATM.GHGT.KT.CE_Year,EG.ELC.RNEW.ZS,EG.ELC.RNEW.ZS_Year,NY.GDP.MKTP.CD,NY.GDP.MKTP.CD_Year,NY.GDP.PCAP.CD,NY.GDP.PCAP.CD_Year,NY.GDP.PCAP.PP.CD,NY.GDP.PCAP.PP.CD_Year,NY.GDP.PCAP.KD.ZG,NY.GDP.PCAP.KD.ZG_Year,SP.POP.TOTL,SP.POP.TOTL_Year,GHGT_Capita,GHGT_Capita_Year,GHGT_GDP,GHGT_GDP_Year
Afghanistan,98920.0,2018.0,86.050111,2015,2.011614e+10,2020.0,516.747871,2020.0,2078.648615,2020.0,-4.575032,2020.0,38928341.0,2020,0.002661,2018.0,5.479352e-06,2018.0
Albania,10080.0,2018.0,100.000000,2015,1.488763e+10,2020.0,5246.292306,2020.0,13439.665278,2020.0,-3.398708,2020.0,2837743.0,2020,0.003517,2018.0,6.650642e-07,2018.0
Algeria,218910.0,2018.0,0.322684,2015,1.450092e+11,2020.0,3306.858208,2020.0,11324.235813,2020.0,-6.826964,2020.0,43851043.0,2020,0.005184,2018.0,1.251552e-06,2018.0
American Samoa,NaN,NaN,0.885478,2015,7.090000e+08,2020.0,12844.900991,2020.0,NaN,NaN,4.138084,2020.0,55197.0,2020,NaN,NaN,NaN,NaN
Andorra,590.0,2018.0,86.116700,2015,3.155065e+09,2019.0,40897.330873,2019.0,NaN,NaN,-12.088300,2020.0,77265.0,2020,0.007662,2018.0,1.833257e-07,2018.0

It seems some year columns remain as float data type.

In [9]:
data_copy.dtypes

EN.ATM.GHGT.KT.CE         float64
EN.ATM.GHGT.KT.CE_Year    float64
EG.ELC.RNEW.ZS            float64
EG.ELC.RNEW.ZS_Year         int32
NY.GDP.MKTP.CD            float64
NY.GDP.MKTP.CD_Year       float64
NY.GDP.PCAP.CD            float64
NY.GDP.PCAP.CD_Year       float64
NY.GDP.PCAP.PP.CD         float64
NY.GDP.PCAP.PP.CD_Year    float64
NY.GDP.PCAP.KD.ZG         float64
NY.GDP.PCAP.KD.ZG_Year    float64
SP.POP.TOTL               float64
SP.POP.TOTL_Year            int32
GHGT_Capita               float64
GHGT_Capita_Year          float64
GHGT_GDP                  float64
GHGT_GDP_Year             float64
dtype: object

In [10]:
data_copy.isna().sum()

EN.ATM.GHGT.KT.CE         26
EN.ATM.GHGT.KT.CE_Year    26
EG.ELC.RNEW.ZS             0
EG.ELC.RNEW.ZS_Year        0
NY.GDP.MKTP.CD             4
NY.GDP.MKTP.CD_Year        4
NY.GDP.PCAP.CD             4
NY.GDP.PCAP.CD_Year        4
NY.GDP.PCAP.PP.CD         19
NY.GDP.PCAP.PP.CD_Year    19
NY.GDP.PCAP.KD.ZG          5
NY.GDP.PCAP.KD.ZG_Year     5
SP.POP.TOTL                0
SP.POP.TOTL_Year           0
GHGT_Capita               26
GHGT_Capita_Year          26
GHGT_GDP                  27
GHGT_GDP_Year             27
dtype: int64

Apparently int32 data type cannot store NaN values so they are left as they are. And the data copy is saved for Tableau analysis.

In [15]:
data_copy.to_csv("wb_data_tableau.csv")